# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Flask-related
instance/
uploads/
*.log

# Environment & secrets
.env

# Database & data exports
*.sqlite3
*.csv

# OS & editor files
.DS_Store
*.swp
*.swo

# PyInstaller
dist/
build/
*.spec

# Angular / Node
node_modules/
dist/